[user]
email = blinovsv@gmail.com
name = Sergei Blinov

[color]
ui = auto
branch = auto
diff = auto
status = auto

[alias]
ls = ls-files
b  = branch
br = branch
t  = tag
d  = diff --stat -p -C
ds = diff --staged --stat -p -C
ci = commit -v
co = checkout
st = status -sb
pr = pull --rebase
wc = whatchanged --abbrev-commit --date=relative --date-order --pretty='format:%Cgreen%h %Cblue%ar %Credby %an%Creset -- %s' -n 45
l   = log -p
ll  = log --decorate --graph --pretty=format:'%Cred%h%Creset %<(45,trunc)%s %C(cyan)<%an> %Cgreen%cr%C(auto)%d'
lla = ll --all
gl  = log --decorate --graph --abbrev-commit --color --color-words --topo-order --pretty=medium
gla = gl --all
sl  = log --decorate --graph --abbrev-commit --color --topo-order --pretty=oneline
sla = sl --all

[core]
autocrlf = input
excludesfile = ~/.gitignore_global

[push]
default = simple

[pull]
rebase = true

[log]
date = relative
